@use 'abstract/var';

.about-me{

  &__title{

  }
  &__paragraph{

  }
  &__contact{
    display: flex;
    flex-direction: row;
    gap: var.$gap-secundary;
    margin: 0 auto;
  }
  &__icon{
    
  }
}