@use 'abstract/var';

.btn{
  padding: var.$padding-secundary;
  border: var.$border-secundary;
  border-radius: var.$radius-primary;
  font-size: 1rem;
  color: inherit;
  cursor: pointer;

  &-primary{
    background: var.$color-primary;
    color: var.$color-tertiary;

  }
  &-secondary{
    margin-top: var.$margin-secundary;
  }
}