@use 'abstract/var';
@use 'abstract/media';
@use 'abstract/mixins';

.contact {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    width: 100%;

    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    @include mixins.border(secundary);

    background-color: var.$bg-c-card;

    &:last-child {
      margin: 0;
    }

    &--aboutMe {
      @include mixins.border(primary);
    }
  }

  &__link {
    margin: 0 1rem;
    line-height: 0px;
  }

  &__text {
    margin: 0;
    font-size: 0.75rem;
  }
}

@include media.query(md) {
  .contact {
    width: 45vw;
    &__item {
      &:last-child {
        margin: auto;
      }

      &--aboutMe {
        gap: 2rem;
        width: 40vw;
      }
    }
  }
}

@include media.query(lg) {
  .contact {
    &__item {
      &:last-child {
        margin: 0;
      }

      &--aboutMe {
        flex-direction: column;
        width: auto;
      }
    }
  }
}
