@use 'abstract/var';
@use 'abstract/media';
@use 'abstract/mixins';

.form{    
  &__input, &__area{
    width: 100%;
    padding: 1rem;
    @include mixins.border(secundary);

    font-family: var.$font-secondary;
    font-size: 1rem;
  }

  &__area{
    resize: none;
  }

  &__response{
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    min-width: 254px;
  }
  
  &__loader {
    width: 32px;
  }
}

@include media.query(md) {
  .form{
    width: 45vw;
  }
}