@use 'abstract/media';

.icon{
  width: 32px;
  filter: brightness(0) saturate(100%) invert(39%) sepia(6%) saturate(2354%)
      hue-rotate(314deg) brightness(76%) contrast(71%);
      
  &--technology{
    width: 76px;
  }
}

@include media.query(md){
  .icon{
    width: 40px;
  }
}

@include media.query(lg){
  .icon{
    width: 48px;
  }
}