@use 'abstract/var';
@use 'abstract/media';

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;

  width: 160px;

  border-bottom: 1px solid var.$color-tertiary;
  border-right: 1px solid var.$color-tertiary;
  border-bottom-right-radius: var.$radius-primary;

  background-color: var.$color-secundary;

  transform: translateX(-100%);
  transition: transform 0.5s;

  &--active {
    transform: translateX(0);
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: start;
    margin: 0;
    padding: 1rem;
  }

  &__item {
    margin: 1rem 0;
  }

  &__link {
    display: block;
    padding: 0.5rem;
    color: var.$color-tertiary;
  }

  &__link:hover {
    border-radius: var.$radius-primary;
    background-color: var.$color-primary;
  }
}

@include media.query(md) {
  .nav-bar {
    width: 100vw;
    border-right: none;
    border-radius: 0;
    font-size: 1.25rem;

    transform: translateX(0);
  }
  .nav-bar__list {
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
  .nav-bar__item {
    margin: 0;
  }
}
