doctype html
html(lang="es")
  head
    include ../blocks/head.pug
  body 
    include ../blocks/header.pug
    include ../blocks/main.pug           

    script(src="./js/index.js" type="module")
    