doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./styles/styles.css")
    title Document
  body 
    //- sección "Sobre mí"
    section.section
      .section__title-container
        h1.title Ariel Barrios
        h2.subtitle Desarrollador Frontend
      .section__container
        section.card
          img.card__img(src="", alt="Foto de Ariel")
          .abaut-me
            h3.abaut-me__title Sobre mí
            p.abaut-me__paragraph Actualmente me encuentro capacitándome en el área del desarrollo Web. Poseo conocimientos de backend pero decidí comenzar a especializarme de forma seria desde el frontend para luego continuar con el backend. Busco ganar conocimientos que sólo la  experiencia en un trabajo real pueden darme.

        .abaut-me__contact
          a: img.abaut-me__icon(src="", alt="enlace a Linkedin")
          a: img.abaut-me__icon(src="", alt="enlace a github")

    //- sección "Tecnologías"
    section.section
      h2.section__title Tecnologías
      .section__container
          ul.section__list
            li.card
              img.card__img(src="", alt="icono de React")
              h3.card__title--technology 
            li.card
              img.card__img(src="", alt="icono de TypeScript")
              h3.card__title--technology
          button.button-primary Ver más

    //- sección "Proyectos"
    section.section
      h2.section__title Proyectos
      .section__container

        section.card
            h3.card__title Portafolio
            img.card__img(src="", alt="imagen de la pantalla del proyecto")
            .card__container
              p.card__subtitle Realizado con:
              p.card__text HTML, Sass, JavaScript
            button.button--primary Ir al sitio
            button.button--secondary Ir al repositorio

        section.card
            h3.card__title E-commerce
            img.card__img(src="", alt="imagen de la pantalla del proyecto")
            .card__description-container
              p.card__subtitle Realizado con:
              p.card__text HTML, Sass, JavaScript
            button.button--primary Ir al sitio
            button.button--secondary Ir al repositorio

        section.card
            h3.card__title Portafolio
            img.card__img(src="", alt="imagen de la pantalla del proyecto")
            .card__description-container
              p.card__subtitle Realizado con:
              p.card__text HTML, Sass, JavaScript
            button.button--primary Ir al sitio
            button.button--secondary Ir al repositorio
        
    //- sección "Contacto"
    section.section
      h2.section__title Contacto
      .section__container
        form.form.card
          input.form__input(type="text" placeholder="Nombre") 
          input.form__input(type="text" placeholder="Email")
          textarea.form__area(
              name="comments"
              cols="50"
              rows="10"
              placeholder="Déjame tú mensaje *"
              ) 
          button.button-primary.card__input Enviar mensaje
        section.contact.card
          .contact__item
            img(src="", alt="").contact__icon
            p.contact__text ariel29111978@hotmail.com
          .contact__item 
            img(src="", alt="").contact__icon
            p.contact__text Buenos Aires, Temperley
          .contact__item
            a: img.contact__icon(src="", alt="enlace a Linkedin")
            a: img.contact__icon(src="", alt="enlace a github")
