//
- 
  var navItems  = {
    Inicio: '#about-me',
    Tecnologías: '#technology',
    Proyectos: '#projects',
    Contacto: '#contact'
  };

- var technologiesItems = ['React', 'TypeScript', 'Styled-Component', 'JavaScript', 'HTML', 'CSS', 'Pug', 'Sass', 'NPM', 'Gulp', 'Webpack', 'Git', 'Figma']

-
  var bestProyects = [
    {
      title: 'E-comemrce',
      imgSrc: './assets/image/projects/img-Iskrem.png',
      description: 'React-CSS-Firebase',
      place: 'https://e-commerce-aab-ariel2911.vercel.app/',
      repository: 'https://github.com/Ariel2911/e-commerce_barrios',
    },
    {
      title: 'Landing page',
      imgSrc: './assets/image/projects/img-sunnyside.png',
      description: 'HTML - CSS - JavaScript',
      place: 'https://ariel2911.github.io/Junior01_sunnyside-agency-landing-page-main/',
      repository: 'https://github.com/Ariel2911/Junior01_sunnyside-agency-landing-page-main',
    }
  ]

-
  var github = {
    href: "https://github.com/Ariel2911",
    src: "./assets/icons/git-hub.svg",
    alt: "enlace a github",
  }

-
  var linkedin = {
    href: "https://www.linkedin.com/in/ariel-alejandro-barrios-0bb358199/",
    src: "./assets/icons/linkedin.svg",
    alt: "enlace a Linkedin",
  }
