-
  var bestProyects = [
    {
      title: 'E-comemrce',
      imgSrc: './assets/image/projects/img-Iskrem.png',
      description: 'React-CSS-Firebase',
      place: 'https://e-commerce-aab-ariel2911.vercel.app/',
      repository: 'https://github.com/Ariel2911/e-commerce_barrios',
    },
    {
      title: 'Landing page',
      imgSrc: './assets/image/projects/img-sunnyside.png',
      description: 'HTML - CSS - JavaScript',
      place: 'https://ariel2911.github.io/Junior01_sunnyside-agency-landing-page-main/',
      repository: 'https://github.com/Ariel2911/Junior01_sunnyside-agency-landing-page-main',
    }
  ]