.btn-menu {
  position: fixed;
  left: 8px;
  top: 8px;
  z-index: 40;
  width: 28px;
  height: 28px;
  border: 0;
  background: none;
  cursor: pointer;
}
.btn-menu__bar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #725555;
}
.btn-menu__bar::before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #725555;
  transition: transform 0.3s ease;
}
.btn-menu__bar::after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #725555;
  transition: transform 0.3s ease;
}

@media screen and (min-width: 520px) {
  .btn-menu {
    display: none;
  }
}
.more-technologies {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

.btn {
  padding: 0.5rem;
  border: 1px solid #725555;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: inherit;
  cursor: pointer;
}
.btn-primary {
  background: #725555;
  color: #fafafa;
}
.btn-secondary {
  margin-top: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
}
.card--technology {
  max-width: 100px;
}
.card__title {
  font-size: 20px;
  margin: 0;
  margin-bottom: 1rem;
}
.card__title--technology {
  margin: auto 0;
  font-size: 0.75rem;
}
.contact > * {
  margin-bottom: 16px;
  border: 1px solid #725555;
  background-color: whitesmoke;
}
.contact__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 0.5rem;
  font-family: " 'Roboto', sans-serif ";
  font-size: 0.75rem;
}
.contact__item:last-child {
  margin: 0;
}
.contact__link {
  margin: 0 32px;
}
.contact__icon {
  filter: brightness(0) saturate(100%) invert(39%) sepia(6%) saturate(2354%) hue-rotate(314deg) brightness(76%) contrast(71%);
}
.contact__text {
  margin: 0;
}

.form input, .form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #725555;
  border-radius: 0.5rem;
  font-family: " 'Roboto', sans-serif ";
  font-size: 1rem;
}
.header {
  position: sticky;
  z-index: 20;
  height: 44px;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 160px;
  border-bottom: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
  border-bottom-right-radius: 0.5rem;
  background-color: #C88D6C;
  transform: translateX(-100%);
  transition: transform 0.5s;
}
.nav-bar__list {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 1rem;
}
.nav-bar__item {
  margin: 1rem 0;
}
.nav-bar__link {
  display: block;
  padding: 0.5rem;
  color: #fafafa;
}
.nav-bar__link:hover {
  border-radius: 0.25rem;
  background-color: #725555;
}

@media screen and (min-width: 520px) {
  .nav-bar {
    width: 100vw;
    border-right: none;
    border-radius: 0;
    transform: translateX(0);
  }

  .nav-bar__list {
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }

  .nav-bar__item {
    margin: 0;
  }
}
.section {
  display: flex;
  flex-direction: column;
  margin: 0 auto 32px;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3019607843);
  box-shadow: 12px 12px 40px #bababa;
  backdrop-filter: blur(8px);
}
.section__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section__title {
  margin: 0;
  margin-bottom: 1rem;
  font-family: "Playfair Display SC", serif;
  font-size: 1.5rem;
}
.section__subtitle {
  font-family: "Playfair Display SC", serif;
  font-size: 1rem;
}
.section__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  justify-items: center;
  gap: 1rem;
}
.section__list--odd {
  grid-column: span 2;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  border-radius: 0.5rem;
}

body {
  margin: 0;
  text-align: center;
  background-image: url("/assets/image/bg-desktop-unsplash.jpg");
  background-position-x: 80%;
  background-size: cover;
  background-attachment: fixed;
  color: #725555;
  font-family: " 'Roboto', sans-serif ";
}

.main {
  max-width: 400px;
  min-width: 300px;
  margin: auto;
}
.main > * {
  margin: 1rem;
}