include ../abstract/mixins.pug
include ../abstract/var.pug

section#about-me.section
  .section__title-container
    h1.section__title Ariel Barrios
    h2.section__subtitle Desarrollador Frontend
  .section__container
    section.card.card__aboutMe
      img.card__img.about-me__img(src="./assets/image/ariel.jpg", alt="Foto de Ariel")
      .about-me
        h3.about-me__title ¿Quién soy?
        p.about-me__paragraph Hola! Soy desarrollador y actualmente me enfoco en la creación de páginas personalizadas. Siempre me encuentro en constante aprendizaje, actualizando e incrementando mis conocimientos y habilidades. Me gusta el trabajo colaborativo y me destaco en procesos ágiles y flexibles.
    .contact__item.contact__item--aboutMe
      +socialNetworkLink(linkedin)
      +socialNetworkLink(github)      