section#about-me.section
  .section__title-container
    h1.section__title Ariel Barrios
    h2.section__subtitle Desarrollador Frontend
  .section__container
    section.card
      img.card__img(src="./assets/image/ariel.jpg", alt="Foto de Ariel")
      .about-me
        h3.about-me__title Sobre mí
        p.about-me__paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vel qui nam ab quisquam ut atque, omnis sapiente natus. Iure, similique numquam. Vel atque iusto nobis ducimus architecto suscipit placeat.
    .contact__item
      //- a.contact__link(href="https://www.linkedin.com/in/ariel-alejandro-barrios-0bb358199/" target="_blank" rel="noopener noreferrer")
      //-   img.contact__icon(src="./assets/icons/linkedin.svg", alt="enlace a Linkedin")
      //- a.contact__link(href="https://github.com/Ariel2911" target="_blank" rel="noopener noreferrer")
      //-   img.contact__icon(src="./assets/icons/git-hub.svg", alt="enlace a github")
      include ./linkLinkedin.pug
      include ./linkGithub.pug