a.contact__link(
  href="https://www.linkedin.com/in/ariel-alejandro-barrios-0bb358199/" 
  target="_blank" 
  rel="noopener noreferrer"
  )
  img.contact__icon.icon(src="./assets/icons/linkedin.svg", alt="enlace a Linkedin")