main.main    
  //- sección "Sobre mí"
  include ./aboutMe.pug
  //- sección "Tecnologías"
  include ./technology.pug
  //- sección "Proyectos"
  include ./proyect.pug              
  //- sección "Contacto"
  include ./contact.pug  