include ../abstract/mixins.pug
include ../abstract/var.pug

section#projects.section
  h2.section__title Proyectos
  .section__container.section__container--row
    each bestProyect in bestProyects
      +cardProyect(bestProyect)