section#projects.section
  h2.section__title Proyectos
  .section__container

    //- section.card
    //-   h3.card__title Portafolio
    //-   img.card__img(src="./assets/image/projects/img-Iskrem.png", alt="imagen de la pantalla del proyecto")
    //-   .card__container
    //-     p.card__subtitle Realizado con:
    //-     p.card__text HTML, Sass, JavaScript
    //-   button.btn.btn-primary Ir al sitio
    //-   button.btn.btn-secondary Ir al repositorio

    section.card
      h3.card__title E-commerce
      img.card__img(src="./assets/image/projects/img-Iskrem.png", alt="imagen de la pantalla del proyecto")
      .card__description-container
        p.card__subtitle Realizado con:
        p.card__text React-CSS-Firebase
      a.btn.btn-primary(href="https://e-commerce-aab-ariel2911.vercel.app/" target="_blank" rel="noopener") Ir al sitio
      a.btn.btn-secondary(href="https://github.com/Ariel2911/e-commerce_barrios" target="_blank" rel="noopener") Ir al repositorio

    section.card
      h3.card__title Landing page
      img.card__img(src="./assets/image/projects/img-sunnyside.png", alt="imagen de la pantalla del proyecto")
      .card__description-container
        p.card__subtitle Realizado con:
        p.card__text HTML - CSS - JavaScript
      a.btn.btn-primary(href="https://ariel2911.github.io/Junior01_sunnyside-agency-landing-page-main/" target="_blank" rel="noopener") Ir al sitio
      a.btn.btn-secondary(href="https://github.com/Ariel2911/Junior01_sunnyside-agency-landing-page-main" target="_blank" rel="noopener") Ir al repositorio