include ../abstract/var.pug

section#technology.section
  h2.section__title Tecnologías
  .section__container
    ul.section__list
      each technologiesItem in technologiesItems
        li.card.card--technology
          img.icon--technology(src=`./assets/icons/${technologiesItem}.svg`, alt=`icono de ${technologiesItem}`)
          h3.card__title--technology=technologiesItem 
           
    button#btnSeeMore.btn.btn-primary.btn--hidden Ver más