- var oneTechItems = ['React', 'TypeScript', 'Styled-Component', 'JavaScript','HTML', 'CSS', 'Pug', 'Sass','NPM', 'Gulp', 'Webpack', 'Git', 'Figma']

section#technology.section
  h2.section__title Tecnologías
  .section__container
    ul.section__list
      each oneTechItem in oneTechItems
        li.card.card--technology
          img.card__img(src=`./assets/icons/${oneTechItem}.svg`, alt=`icono de ${oneTechItem}`)
          h3.card__title--technology=oneTechItem 
           
    button#btnSeeMore.btn.btn-primary Ver más