$color-primary: #725555;
$color-secundary: #C88D6C;
$color-tertiary: #fafafa;

$bg-c-section: #ffffff4d;
$bg-c-card: #f5f5f5;

$padding-primary: 1rem;
$padding-secundary: 0.5rem;
$margin-primary: 1rem;
$margin-secundary: 0.5rem;
$border-primary: 1px solid $bg-c-section;
$border-secundary: 1px solid $color-primary;
$radius-primary: 0.5rem;
$radius-secundary: 0.25rem;
$gap-primary: 1rem;
$gap-secundary: 2rem;

$font-primary: 'Playfair Display SC', serif;
$font-secondary: " 'Roboto', sans-serif ";
$font-color-primary: $color-primary;
$font-color-secundary: $color-tertiary;

$shadow: 12px 12px 40px #bababa;
$blur: blur(8px);