@use 'abstract/var';
@use 'abstract/media';
@use 'abstract/function';

@use 'components/resets';
@use 'components/aboutMe';
@use 'components/btnMenu';
@use 'components/button';
@use 'components/card';
@use 'components/contact';
@use 'components/form';
@use 'components/header';
@use 'components/icon';
@use 'components/main';
@use 'components/navBar';
@use 'components/section';

body {
  margin: 0;
  text-align: center;

  background-image: url('../assets/image/bg-desktop-unsplash.jpg');
  background-position-x: 80%;
  background-size: cover;
  background-attachment: fixed;

  color: var.$color-primary;
  font-family: var.$font-secondary;
}

@include media.query(md){
  body{
    font-size: 1.125rem;
  }
}

@include media.query(lg){
  body{
    font-size: 1.25rem;
  }
}

.hidden{
  display: none;
}