@use 'abstract/var';
@use 'components/aboutMe';
@use 'components/btnMenu';
@use 'components/btnSeeMore';
@use 'components/button';
@use 'components/card';
@use 'components/contact';
@use 'components/form';
@use 'components/header';
@use 'components/navBar';
@use 'components/section';

// Reset
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img{
  width: 100%;
  border-radius: var.$radius-primary;
}

body {
  margin: 0;
  text-align: center;

  background-image: url('../assets/image/bg-desktop-unsplash.jpg');
  background-position-x: 80%;
  background-size: cover;
  background-attachment: fixed;

  color: var.$color-primary;
  font-family: var.$font-secondary;
}

.main{
  max-width: 400px;
  min-width: 300px;
  margin: auto;
  & > * {
    margin: var.$margin-primary;
  }
}
